.ChartContainer {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .CandleData {
    display: flex;
    position: absolute;
    padding: 10px 15px;
    font-size: 13px;
    z-index: 2;

    div {
      margin-right: 7px;

      span {
        margin-left: 3px;
        color: #000FFF;
      }
    }
  }

  .ChartList {
    position: relative;

    .Ruler {
      position: absolute;
      z-index: 2;
    }

    .AddNotification {
      width: 21px;
      height: 20px;
      position: absolute;
      border: 1px solid black;
      border-right: none;
      z-index: 3;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        background-color: black;

        span {
          color: white;
        }
      }

      span {
        font-size: 18px;
        color: #0fa100;
        position: relative;
        bottom: 5px;
        left: 4px;
      }
    }
  }
}
