.ChartContainer {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  .CandleData {
    display: flex;
    position: absolute;
    padding: 10px 15px;
    font-size: 13px;
    z-index: 2;

    div {
      margin-right: 7px;

      span {
        margin-left: 3px;
        color: #000FFF;
      }
    }
  }

  .ChartList {
    position: relative;

    .Ruler {
      position: absolute;
      z-index: 2;
    }
  }
}
